.category {
  &-list {
    padding-right: 20px;
    li {
      width: 200px;
      height: 100px;
      line-height: 100px;
      margin: 80px auto;
      border-radius: 8px;
      border: 1px solid #ccc;
      box-shadow: 0px 0px 22px -3px;
      cursor: pointer;
      &:hover {
        transition: 300ms linear;
        transform: scale(1.2)
      }
    }
  }
  &-tips {
    position: absolute;
    bottom: 10px;
    left: 30px;
    font-size: 12px;
    color: #ccc;
  }
}